.wrapper {
    width: var(--default-layout-width-sidebar);
    background-color: #231b2e;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.logo {
    display: block;
    height: 70px;
    width: 100%;
    padding: 15px 28px;
}

.logo-link {
    display: block;
}

.logo-img {
    width: 120px;
    height: 36px;
    &:hover {
        filter: brightness(0.9);
    }
}

.nav-list {
}

.nav-item {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 10px 28px;
    text-decoration: none;
    position: relative;
    color: var(--text-color);

    .nav-item-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        height: 22px;
        display: none;
        svg {
            font-size: 2.2rem;
        }
    }

    &:hover {
        color: var(--white-color);
        .nav-item-icon {
            display: block;
        }
    }

    &.active {
        color: var(--white-color);
        background-color: #393243;
    }

    svg {
        font-size: 1.8rem;
        margin-right: 5px;
    }
}
