.wrapper {
    display: flex;
}

.sidebar {
}

.main {
    margin-left: var(--default-layout-width-sidebar);
    margin-top: var(--default-layout-height-header);
    margin-bottom: var(--default-layout-height-play-control);
    flex: 1;
    background-color: bisque;
}

.header {
}

.content {
}

.play-control {
}
