.wrapper {
    height: var(--default-layout-height-header);
    width: calc(100% - var(--default-layout-width-sidebar));
    background-color: #170f23;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search,
.search-results {
    width: 540px;
}

.search {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    background-color: #2f2739;
}

.input {
    padding: 5px 0;
    width: 470px;
    outline: none;
    border: none;
    background-color: #2f2739;
    color: #eee;
    font-size: 1rem;
}

.search-icon {
    font-size: 1.4rem;
    margin: 0 10px;
    cursor: pointer;
}

.search-title {
    padding: 5px 12px;
    // font-size: 1.6rem;
    // font-weight: 500;
    color: rgba(22, 24, 35, 0.5);
}

.header-right {
}

.header-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    outline: none;
    border: none;
    background-color: #2f2739;
    cursor: pointer;

    &:hover {
        filter: brightness(0.9);
    }
}

.btn-icon {
    color: #eee;
    font-size: 1.4rem;
}
