.login__wrapper {
    display: flex;
}

.wrapper__left {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.wrapper__right {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.wrapper__left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__header {
    color: #7200a1 !important;
    font-weight: 500 !important;
    text-align: center !important;
    display: block !important;
}

.login__btn {
    font-size: 1.4rem !important;
}
